openai==1.2.4
aiohttp
asyncio
matplotlib==3.0.2
slack_sdk==3.21.3
profanity==1.1
protobuf
protobuf_inspector
requests
websocket-client
langchain==0.0.142
tiktoken
pyahocorasick
pydub
sparkdesk-api
gradio_client
schedule
curl_cffi
obs-websocket-py
obsws-python
ffmpeg
pyAudio
python-dotenv
azure-cognitiveservices-speech
epubs
pyqt5
pyinstaller
PySide6